@*//******************************************************************************************************
//  Home.cshtml - Gbtc
//
//  Copyright © 2016, Grid Protection Alliance.  All Rights Reserved.
//
//  Licensed to the Grid Protection Alliance (GPA) under one or more contributor license agreements. See
//  the NOTICE file distributed with this work for additional information regarding copyright ownership.
//  The GPA licenses this file to you under the MIT License (MIT), the "License"; you may
//  not use this file except in compliance with the License. You may obtain a copy of the License at:
//
//      http://opensource.org/licenses/MIT
//
//  Unless agreed to in writing, the subject software distributed under the License is distributed on an
//  "AS-IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. Refer to the
//  License for the specific language governing permissions and limitations.
//
//  Code Modification History:
//  ----------------------------------------------------------------------------------------------------
//  09/30/2016 - Billy Ernest
//       Generated original version of source code.
//
//*******************************************************************************************************@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>PQMark</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")"></>
</head>
<body>
<div>
    <a href="#"  data-toggle="modal" data-target="#modal"><img id="splashScreen" src="@Url.Content("~/Images/SplashScreen.png")"/></a>
</div>
<div id="modal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 850px">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align-last: center">Conditions Of Use</h4>
            </div>
            <div class="modal-body">
                <p>The PQ-Mark Proof-of-Concept web application is only for the EPRI power quality staff and interested utility advisors who are assessing the value of this concept.</p>
                <p>This application has been developed to explore the concept of dynamically producing power quality benchmarking charts from a frequently-updated relational data system. If this concept proves successful and work moves forward, the plan is that this web application would be the basis for development of a production web application that would be hosted by EPRI for the benefit of power quality program participants. As an EPRI-hosted web site, the web content in the production application would adhere to EPRI web standards and be seamlessly integrated with other EPRI web content and back-end systems.</p>
                <p>However, for the purpose of rapid development and cost-minimization during the proof-of-concept phase, the very simple web application that follows is focused on the technical functionality of the data display components and not on the surrounding navigation and graphical elements that are required for a production EPRI web application.</p>
                <p>This application has not been tested with all browsers.  It has been verified to work with Chrome, Firefox, Opera and IE 11.</p>
                <p>By clicking below, you acknowledge that (1) you understand all content within the PQ-Mark Proof-of-Concept application is EPRI copyrighted material; (2) that this content it is to be treated as business sensitive information for use by Power Quality Program members and advisors only; and (3) that the power quality data contained within this web application is fabricated and purposely constructed to have no business value.</p>
                <p>@Html.ActionLink("Click to continue to the PQ-Mark application.", "Index", "Home")</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
<script>
    $(function () {
        $('#splashScreen').height($(window).innerHeight());
        $('#splashScreen').width($(window).width());
        
        $(window).resize(function () {
            $('#splashScreen').height($(window).innerHeight());
            $('#splashScreen').width($(window).width());
        });
    });
</script>
