@*//******************************************************************************************************
//  _Layout.cshtml - Gbtc
//
//  Copyright © 2016, Grid Protection Alliance.  All Rights Reserved.
//
//  Licensed to the Grid Protection Alliance (GPA) under one or more contributor license agreements. See
//  the NOTICE file distributed with this work for additional information regarding copyright ownership.
//  The GPA licenses this file to you under the MIT License (MIT), the "License"; you may
//  not use this file except in compliance with the License. You may obtain a copy of the License at:
//
//      http://opensource.org/licenses/MIT
//
//  Unless agreed to in writing, the subject software distributed under the License is distributed on an
//  "AS-IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. Refer to the
//  License for the specific language governing permissions and limitations.
//
//  Code Modification History:
//  ----------------------------------------------------------------------------------------------------
//  09/22/2016 - Billy Ernest
//       Generated original version of source code.
//
//*******************************************************************************************************@


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PQMark - @ViewBag.Title</title>
   
    @Styles.Render("~/Content/css")
    @RenderSection("StyleSheets", required: false)
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
@*<header>
    <img src="~/Images/epri-logo-color.svg"/>
    <div id="epriHeaderTitleWide" class="epriColorDark">@Model.Layout.HeaderTitleWide</div>
    <div id="epriHeaderTitleNarrow" class="epriColorDark epriBackgroundColorLight">@Model.Layout.HeaderTitleNarrow</div>

    <div id="navBar" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("PQMark", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("PQ Events", "PQEventMagnitudeDuration", "Home")</li>
                    <li>@Html.ActionLink("Event Rates", "PQVoltage3D", "Home")</li>
                    <li>@Html.ActionLink("SARFI", "SARFI", "Home")</li>
                    <li>@Html.ActionLink("Steady State", "VoltageTHDFrequency", "Home")</li>
                    <li><a href="#" data-toggle="modal" data-target="#modal">Info</a></li>
                </ul>
                <img class="pull-right" style="height: 50px;" src="@Url.Content("~/Images/epri_04_10_2007.jpg")" />
            </div>
        </div>
    </div>

</header>*@
    <div class="header">
        <h1 class="site_title">
            <img src="~/Images/header.jpg" alt="EPRI: Electric Power Research Insitute" />
        </h1>

        @*<p class="salutation">
            <strong>Welcome David Hasselberg</strong>
        </p>


        <div class="nav_pre nav">
            <ul>
                <li><a title="Utility Link" href="#">Utility Link</a></li>
                <li><a title="Utility Link" href="#">Utility Link</a></li>
                <li><a title="Utility Link" href="#">Utility Link</a></li>
            </ul>
        </div>*@

        <h2 class="site_subtitle">PQMark</h2>

        <hr />
    </div>

    <div class="nav_main nav">
        <ul>
            <li>
                <p>@Html.ActionLink("Home", "Index", "Home")</p>
            </li>
            <li>
                <p>@Html.ActionLink("PQ Events", "PQEventMagnitudeDuration", "Home")</p>
            </li>
            <li>
                <p>@Html.ActionLink("Event Rates", "PQVoltage3D", "Home")</p>
            </li>
            <li>
                <p>@Html.ActionLink("SARFI", "SARFI", "Home")</p>
            </li>
            <li>
                <p>@Html.ActionLink("Steady State", "VoltageTHDFrequency", "Home")</p>
            </li>
        </ul>
    </div>

    <div class="breadcrumb">
        <p>
            <strong>You Are Here:</strong>
            <a title="EPRI.com" href="#">PQMark</a> &gt;
            <strong id="breadcrumbText">Home</strong>
        </p>
        <hr />
    </div>

<div id="viewWindow" class="container body-content">
    @RenderBody()
</div>
<div class="footer">
    <hr />

    <div class="nav_post nav">
        <ul>
            <li><a title="Careers" href="http://www.epri.com/Careers/Pages/Default.aspx">Careers</a></li>
            <li><a title="Contact EPRI" href="http://www.epri.com/Help/Pages/Contact-Us.aspx">Contact EPRI</a></li>
            <li><a title="Copyright Policy" href="http://www.epri.com/Help/Pages/Copyright-Policy.aspx">Copyright Policy</a></li>
            <li><a title="Privacy Statement" href="http://www.epri.com/Help/Pages/Privacy-Statement.aspx">Privacy Statement</a></li>
            <li><a title="Terms of Use" href="http://www.epri.com/Help/Pages/Terms-of-Use.aspx">Terms of Use</a></li>
        </ul>
    </div>
    <p>800.313.3774 or 650.855.2121</p>
    <address>EPRI 3420 Hillview Avenue, Palo Alto, California 94304</address>
    <p>&copy; Electric Power Research Institute, Inc. 2001-2013 All rights reserved</p>
</div>


<div id="modal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 850px">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align-last: center">Proposed Architecture</h4>
            </div>
            <div class="modal-body">
                <img src="@Url.Content("~/Images/PQMarkOverview.png")"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script src="@Url.Content("~/Scripts/ie10-viewport-bug-workaround.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/json2.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.signalR-2.2.1.js")"></script>
<script src="@Url.Content("~/signalr/hubs")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/PQMark.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/plotly-latest.min.js")"></script>

@RenderSection("Scripts", required: false)
</body>
</html>
