@*//******************************************************************************************************
//  _Layout.cshtml - Gbtc
//
//  Copyright © 2016, Grid Protection Alliance.  All Rights Reserved.
//
//  Licensed to the Grid Protection Alliance (GPA) under one or more contributor license agreements. See
//  the NOTICE file distributed with this work for additional information regarding copyright ownership.
//  The GPA licenses this file to you under the MIT License (MIT), the "License"; you may
//  not use this file except in compliance with the License. You may obtain a copy of the License at:
//
//      http://opensource.org/licenses/MIT
//
//  Unless agreed to in writing, the subject software distributed under the License is distributed on an
//  "AS-IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. Refer to the
//  License for the specific language governing permissions and limitations.
//
//  Code Modification History:
//  ----------------------------------------------------------------------------------------------------
//  09/22/2016 - Billy Ernest
//       Generated original version of source code.
//
//*******************************************************************************************************@


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PQMark - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @RenderSection("StyleSheets", required: false)
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="navBar" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("PQMark", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("SARFI", "SARFI", "Home")</li>
                    <li>@Html.ActionLink("PQ Event", "PQEventMagnitudeDuration", "Home")</li>
                    <li>@Html.ActionLink("Voltage THD", "VoltageTHDFrequency", "Home")</li>
                    <li>@Html.ActionLink("PQ Voltage", "PQVoltage3D", "Home")</li>
                    <li><a href="#" data-toggle="modal" data-target="#modal">Info</a></li>
                </ul>
                <img class="pull-right" style="height: 50px;" src="@Url.Content("~/Images/epri_04_10_2007.jpg")" />
            </div>
        </div>
    </div>
    <div id="viewWindow" class="container body-content">
        @RenderBody()
        @*<hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@
    </div>

    <div id="modal" class="modal fade" role="dialog">
        <div class="modal-dialog" style="width: 850px">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align-last: center">Architecture Info</h4>
                </div>
                <div class="modal-body">
                    <img src="@Url.Content("~/Images/PQMarkOverview.png")"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="~/Scripts/jquery.signalR-2.2.1.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript" src="~/Scripts/PQMark.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
